accelerate
chumpy
diffusers
ipython
ipywidgets
matplotlib
meshio
networkx
numpy
open3d
pandas
plotly
potpourri3d
pymeshlab
pythreejs
PyVirtualDisplay
PyYAML
robust_laplacian
scikit_learn
scipy
setuptools
Sphinx
torch
torchvision
tqdm
